*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


.container{
    max-width: 70%;
    margin: 0 auto;
}


header h1{
    margin: 25px auto 40px;
    text-align: center;
    font-family: "Fredoka", Times, serif;
    font-size: 35px;
    color: rgb(252, 26, 166);
}


header p{
    text-align: center;
}


section{
    content: "";
    display: table;
    clear: both;
    color: white;
    margin: auto;
}


.column{
    float: left;
    width: calc(100% / 3);
    margin-top: 20px;
}


.card{
    text-align: left;
    float: left;
    margin: 10px 10px 15px;
    background-color: rgb(0, 0, 0);
}


.photo{
    width: 100px;
    padding: 0 15px 0 0;
    float: left;
    height: auto;
}


.data{
    float: left;
    margin: 15px 60px 15px auto;
}


.email{
    color: rgb(0, 94, 255);
}